<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="/content/styles/site.css">
</head>

<body>
    {{{ renderBody }}}
</body>

</html>